<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playing</title>
</head>
<body>
    <h1>Playing With Flask</h1>
    <p>Input Anything</p>
    <form action="/addtext" method="POST">
        <input type="text" name="text" id="">
        <input type="text" name="comment" id="">
        <input type="submit" value="Submit"> 
    </form>

    {% for text in texts %}
       <li>{{text}}</li>
    {% endfor %}
    
</body>

</html>